<div class="form-container">
  <div class="registration-card">
    <div class="card-header">
      <h1 class="card-title">Cadastre-se</h1>
    </div>

    <form [formGroup]="cadastroForm" (ngSubmit)="login()">
      <!-- Nome -->
      <div class="form-group">
        <label class="form-label" for="nomeCompleto">Nome Completo<span class="required-star">*</span></label>
        <input
        type="text"
        id="nomeCompleto"
        class="form-control"
        formControlName="nomeCompleto"
        placeholder="Digite seu nome">
        <div *ngIf="cadastroForm.get('nomeCompleto')?.invalid && cadastroForm.get('nomeCompleto')?.touched" class="text-danger">
          <small *ngIf="cadastroForm.get('nomeCompleto')?.errors?.['required']">Campo obrigatório.</small>
        </div>
      </div>

      <!-- CPF -->
      <div class="form-group">
        <label class="form-label" for="cpf">CPF <span class="required-star">*</span></label>
        <input
        class="form-control"
        id="cpf"
        formControlName="cpf"
        inputmode="numeric"
        mask="000.000.000-00"
        placeholder ="000.000.000-00"
        type="text"
        >
        <div *ngIf="cadastroForm.get('cpf')?.invalid && cadastroForm.get('cpf')?.touched" class="text-danger">
          <small *ngIf="cadastroForm.get('cpf')?.errors?.['required']">Campo obrigatório.</small>
        </div>
      </div>

      <!-- Data de Nascimento -->
      <div class="form-group">
        <label class="form-label" for="dataNascimento">Data de Nascimento <span class="required-star">*</span></label>
        <input
        id="dataNascimento"
        type="text"
        formControlName="dataNascimento"
        class="form-control"
        [dropSpecialCharacters]="false"
        placeholder="00/00/0000"
        mask="00/00/0000" />
        <div *ngIf="cadastroForm.get('dataNascimento')?.invalid && cadastroForm.get('dataNascimento')?.touched" class="text-danger">
          <small *ngIf="cadastroForm.get('dataNascimento')?.errors?.['required']">Campo obrigatório.</small>
          <small *ngIf="cadastroForm.get('dataNascimento')?.errors?.['invalidDate']">Data inválida.</small>
          <small *ngIf="cadastroForm.get('dataNascimento')?.errors?.['underAge']">Você deve ter pelo menos 18 anos.</small>
        </div>
      </div>

      <!-- Select Gênero -->
      <div class="form-group">
        <label class="form-label">Gênero <span class="required-star">*</span></label>
        <select class="gender-custom-select" formControlName="genero">
          <option value="" disabled selected>Selecione</option>
          <option value="masculino">Masculino</option>
          <option value="feminino">Feminino</option>
          <option value="outro">Outro</option>
          <option value="naoresponder">Prefiro não informar</option>
        </select>
        <div *ngIf="cadastroForm.get('genero')?.invalid && cadastroForm.get('genero')?.touched" class="text-danger">
          <small *ngIf="cadastroForm.get('genero')?.errors?.['required']">Campo obrigatório.</small>
        </div>
      </div>

      <!-- Telefone -->
      <div class="form-group">
        <label class="form-label" for="telefone">Celular com DDD <span class="required-star">*</span></label>
        <input type="text"
        id="telefone"
        class="form-control"
        formControlName="telefone"
        placeholder="(00) 0 0000-0000"
        mask="(00) 0 0000-0000">
        <div *ngIf="cadastroForm.get('telefone')?.invalid && cadastroForm.get('telefone')?.touched" class="text-danger">
          <small *ngIf="cadastroForm.get('telefone')?.errors?.['required']">Campo obrigatório.</small>
        </div>
      </div>

      <!-- Email -->
      <div class="form-group">
        <label class="form-label" for="email">E-mail <span class="required-star">*</span></label>
        <input
        type="email"
        id="email"
        class="form-control"
        formControlName="email"
        placeholder="Insira seu e-mail">
        <div *ngIf="cadastroForm.get('email')?.invalid && cadastroForm.get('email')?.touched" class="text-danger">
          <small *ngIf="cadastroForm.get('email')?.errors?.['required']">Campo obrigatório.</small>
        </div>
      </div>

      <!-- Senha -->
      <div class="form-group">
        <label class="form-label" for="password">Senha <span class="required-star">*</span></label>
        <div class="password-container">
          <input
          [type]="showPassword ? 'text' : 'password'"
          id="password" class="form-control"
          formControlName="password"
          placeholder="Digite sua senha">
          <!-- <button type="button" (click)="showPassword = !showPassword" class="password-toggle">
            {{ showPassword ? 'Ocultar' : 'Mostrar' }}
          </button> -->
        </div>
        <div *ngIf="cadastroForm.get('password')?.invalid && cadastroForm.get('password')?.touched" class="text-danger">
          <small *ngIf="cadastroForm.get('password')?.errors?.['required']">Campo obrigatório.</small>
        </div>
      </div>

      <!-- Confirmar Senha -->
      <div class="form-group">
        <label class="form-label" for="confirmPassword">Confirmar Senha <span class="required-star">*</span></label>
        <div class="password-container">
          <input
          [type]="showConfirmPassword ? 'text' : 'password'"
          id="confirmPassword" class="form-control"
          formControlName="confirmPassword"
          placeholder = "Digite a senha novamente">
        <!-- <button type="button" (click)="showPassword = !showPassword" class="password-toggle">
          {{ showPassword ? 'Ocultar' : 'Mostrar' }}
        </button> -->
        </div>
        <div *ngIf="cadastroForm.get('confirmPassword')?.invalid && cadastroForm.get('confirmPassword')?.touched" class="text-danger">
          <small *ngIf="cadastroForm.get('confirmPassword')?.errors?.['required']">Campo obrigatório.</small>
        </div>
        <p class="error-message" *ngIf="cadastroForm.hasError('passwordMismatch')">As senhas não coincidem.</p>
      </div>

      <!-- Termos -->
      <div class="checkbox-container">
        <input
        type="checkbox"
        id="terms"
        formControlName="terms">
        <label for="terms">Concordo com todos os <a href="#">Termos e Condições</a> e <a href="#">Diretrizes de Privacidade</a>. Declaro, ainda, ser maior de 18 anos.</label>
        <!-- <label for="terms">Concordo com todos os <a href="#" (click)="abrirModal($event)">Termos e Condições</a> e <a href="#">Diretrizes de Privacidade</a>. Declaro, ainda, ser maior de 18 anos.</label> -->
        <div *ngIf="cadastroForm.get('terms')?.invalid && cadastroForm.get('terms')?.touched" class="text-danger">
          <small *ngIf="cadastroForm.get('terms')?.errors?.['required']">Você precisa concordar com os Termos e Condições de Serviços e Diretrizes de Privacidade.</small>
        </div>
      </div>

      <!-- Botão de Envio -->
      <!-- <button type="submit" class="submit-button" [disabled]="cadastroForm.invalid">Cadastrar</button> -->
      <button type="submit" class="submit-button">Cadastrar</button>

      <!-- Redirecionamento para tela de Login-->
      <div class="login-container">
        <label>Já possui uma conta? <a href="login">Faça seu login!</a></label>
      </div>

    </form>
  </div>
</div>
