.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d9248;
    padding: 10px 20px;
    color: white;
  }
  
  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .logo img {
    height: 40px;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .user-icon {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 2px solid white;
    object-fit: cover;
  }
  
  
  .saldo {
    font-size: 1rem;
  }
  
  .user-icon {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 2px solid white;
  }
  