/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    background: linear-gradient(to bottom right, #1a1f2c, #2d3748);
    color: white; /* Ajusta o texto para maior contraste */
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Roboto, "Helvetica Neue", sans-serif; }
